<navbar></navbar>


<h2>Classes</h2>



<div ng-include="'js/templates/new-class-form.html'">
</div>

<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#newClass">
  Create New Class
</button>

<table ng-controller='ClassController as classes' class="table table-striped">
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Grade Level</th>
    </tr>
  </thead>
  <tbody>
    <tr class='rowsOfData' ng-repeat="class in classes.data">
      <td>{{class.name}}</td>
      <td>{{class.gradeLevel}}</td>
      <td>
        <div class="dropdown">
          <button id="dLabel" data-target="" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href='/#/classes/edit/{{class.classId}}'>Edit Class</a></li>
            <li><a href='/#/classes/clSt/{{class.classId}}'>Add/Remove Students</a></li>
            <li><a href='/#/classes/info/{{class.classId}}'>Class Info</a><li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
