<login-nav></login-nav>

<form name='loginForm' ng-submit='auth.login()' novalidate>
  <h2>Login</h2>
  <div>
    <input ng-model='auth.user.email' type='email' placeholder='Email' required>
  </div>
  <div>
    <input ng-model='auth.user.password' type='password' placeholder='Password' required>
  </div>
  <div>
    Remember me:
    <input type='checkbox' value='Remember Me'>
    <input type='submit' value='Login'>
  </div>
  <div>
    <a href='#/forgot'>Forgot password?</a>
    <p>Don't have an account? <a href='#/register'>Sign Up</a></p>
  </div>
</form>
<a href='#/terms'>Terms of Service</a>
<a href='#/privacy'>Privacy Policy</a>
