<login-nav></login-nav>


<form name='registerForm' ng-submit='auth.register()' novalidate>
  <h2>Sign Up</h2>
  <div>
    <input ng-model='auth.user.firstName' type='text' placeholder='First Name' required>
  </div>
  <div>
    <input ng-model='auth.user.lastName' type='text' placeholder='Last Name' required>
  </div>
  <div>
    <input ng-model='auth.user.schoolDistrict' type='text' placeholder='School district' required>
  </div>
  <div>
    <input ng-model='auth.user.zipCode' type='text' placeholder='Zip code' required>
  </div>
  <div>
    <input ng-model='auth.user.email' type='email' placeholder='Email address' required>
  </div>
  <div>
    <input ng-model='auth.user.password' type='password' placeholder='Password' required>
  </div>
  <div>
    <input type='password' placeholder='Retype password' required>
  </div>
  <div>
    Remember me: <input type='checkbox' value='Remember Me'>
    <input ng-click="auth.register()" type='submit' value='Create Account'>
  </div>
  <p>Already have an account? <a href='#/login'>Log In</a></p>
</form>
<a href='#/terms'>Terms of Service</a>
<a href='#/privacy'>Privacy Policy</a>
