<navbar></navbar>

<h2>Students</h2>

<div ng-include="'js/templates/new-student-form.html'">
</div>

<table ng-controller='StudentController as students'>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Additional Info</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="student in students.data">
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.additionalInfo}}</td>
      <td>
        <a href='/#/students/edit/{{student.studentId}}'>Edit</a>
      </td>
      <td>
        <a href='/#/students/info/{{student.studentId}}'>Student Info</a>
      </td>
    </tr>
  </tbody>
</table>
