<navbar></navbar>

<h2>Students </h2>

<div ng-include="'js/templates/new-student-form.html'">
</div>



<table ng-controller='StudentController as students' class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Additional Info</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="student in students.data">
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.additionalInfo}}</td>
      <td>
        <button ng-if="student.expanded" ng-click="student.expanded = false">-</button>
        <button ng-if="!student.expanded" ng-click="student.expanded = true">+</button>
      </td>
      <td>
        <div class="dropdown">
          <button id="dLabel" class='glyphicon glyphicon glyphicon-cog' type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href='/#/students/edit/{{student.studentId}}'>Edit</a></li>
            <li><a href='/#/students/info/{{student.studentId}}'>Student Info</a></li>
          </ul>
        </div>
      </tr>
      <tr ng-if="student.expanded" ng-repeat-end="" >
        <td>
          <p ng-if='student.expanded' ng-repeat='student in students.data'><strong>{{student.firstName}}'s Classes:</strong></p>
          <ul ng-repeat="class in student.classInfo">
            <li>{{class.name}} <a class="glyphicon glyphicon-info-sign" href="/#/classes/info/{{class.classId}}"></a></li>
          <ul>
        </td>
        <td>
          <p ng-if='student.expanded' ng-repeat='student in students.data'><strong>{{student.firstName}}'s Performance Summary:</strong></p>
          <ul ng-repeat="test in student.testTimes">
            <li>Took {{test.timeTaken}} minutes on a {{test.standardTime}} minute test ({{test.testName}}) <a class="glyphicon glyphicon-info-sign" href="/#/tests/info/{{test.testId}}"></a></li>
          <ul>
        </td>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus" data-toggle="modal" data-target="#newStudent"></button>
