<navbar></navbar>

<h2>Tests</h2>

<div ng-include="'js/templates/new-test-form.html'">
</div>



<table ng-controller='TestController as tests' class="table table-striped">
  <thead>
    <tr>
      <th>Test Name</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Description</th>
      <th>Standard Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="test in tests.data">
      <td>{{test.name}}</td>
      <td>{{test.subject}}</td>
      <td>{{test.date}}</td>
      <td>{{test.description}}</td>
      <td>{{test.standardTime}}</td>
      <td>
        <div class="dropdown">
          <button id="dLabel" class='glyphicon glyphicon-cog' type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href='/#/tests/edit/{{test.testId}}'>Edit</a></li>
            <li><a href='/#/tests/results/{{test.testId}}'>Results</a></li>
            <li><a href='/#/tests/info/{{test.testId}}'>Test Info</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus" data-toggle="modal" data-target="#newTest"></button>
