<h2>Tests</h2>

<div ng-include="'js/templates/new-test-form.html'">
</div>


<table ng-controller='TestController as tests'>
  <thead>
    <tr>
      <th>Test Name</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Description</th>
      <th>Standard Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="test in tests.data">
      <td>{{test.name}}</td>
      <td>{{test.subject}}</td>
      <td>{{test.date}}</td>
      <td>{{test.description}}</td>
      <td>{{test.standardTime}}</td>
      <td>
        <a href='/#/tests/edit/{{test.testId}}'>Edit</a>
      </td>
      <td>
        <a href='/#/tests/results/{{test.testId}}'>Results</a>
      </td>
      <td>
        <a href='/#/tests/info/{{test.testId}}'>Test Info</a>
      </td>
    </tr>
  </tbody>
</table>
