<navbar></navbar>

<div ng-include="'js/templates/results.html'">
</div>

<h2>Tests in your {{tests.newClass.name}} class</h2>
<table ng-controller='EditClassController as tests' class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody class='testsInClass'>
    <tr ng-repeat="test in tests.newClass.testInfo" id="{{test.testId}}">
      <td>{{test.name}}</td>
      <td>{{test.description}}</td>
      <td>
        <button ng-click='tests.removeTestFromClass(test.testId, test.removeTestFromClass, test.removeClassFromTest, test.deleteTestInfoFromClass)'>Remove From Class</a>
      </td>
      <td>
        <button type="button" class="btn btn-default btn-md glyphicon glyphicon-time" data-toggle="modal" data-target="#{{test.testId}}">
      </td>
    </tr>
  </tbody>
</table>

<!-- </button><a href='#/tests/results/{{test.testId}}'>Results</a> -->



<h2>All Tests</h2>
<table ng-controller='TestController as tests' class="table table-striped">
  <thead>
    <tr>
      <th>Test Name</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Description</th>
      <th>Standard Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="test in tests.data" id="{{test.testId}}">
      <td>{{test.name}}</td>
      <td>{{test.subject}}</td>
      <td>{{test.date}}</td>
      <td>{{test.description}}</td>
      <td>{{test.standardTime}}</td>
      <td>
        <button ng-click='tests.addTestToClass(test.testId)'>Add To Class</a>
      </td>
    </tr>
  </tbody>
</table>
