<navbar></navbar>


<h2>Edit Test</h2>
<form name='tests.newTestForm' ng-submit='tests.addOrEditTest()' novalidate>
  <label>Test Name:</label>
  <input ng-model='tests.newTest.name' type='text' value="'{{newTest.name}}'" required>
  <br />
  <label>Subject:</label>
  <input ng-model='tests.newTest.subject' type='text' value="'{{newTest.subject}}'" required>
  <br />
  <label>Test Date:</label>
  <input ng-model='tests.newTest.date' type='text' value="'{{newTest.date}}'" required>
  <br />
  <label>Test Description:</label>
  <input ng-model='tests.newTest.description' type='text' value="'{{newTest.description}}'" required>
  <br />
  <label>Standard Time Allotted:</label>
  <input ng-model='tests.newTest.standardTime' type='number' value="'{{newTest.standardTime}}'" required>
  <br />
  <input type="submit" value="Save">
  <button ng-click='tests.deleteTest()' preventDefault>Delete Test</button>
</form>

<!-- <h2>Add Students</h2>
<table ng-controller='StudentController as students' class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Additional Info</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="student in students.data">
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.additionalInfo}}</td>
      <td>
        <a href='/#/students/edit/{{student.studentId}}'>Edit</a>
      </td>
      <td>
        <button ng-click='students.deleteStudent()' preventDefault>Add Student</button>
      </td>
    </tr>
  </tbody>
</table> -->
