<form name='newTestForm' ng-submit='new.submit()'>
  <label>Test Name:</label>
  <input ng-model='new.thing.name' type='text' placeholder='Test name'>
  <br />
  <label>Subject:</label>
  <input ng-model='new.thing.subject' type='text' placeholder='type of test'>
  <br />
  <label>Test Date:</label>
  <input ng-model='new.thing.date' type='text' placeholder='test date'>
  <br />
  <label>Test Description:</label>
  <input ng-model='new.thing.description' type='text' placeholder='description'>
  <br />
  <label>Standard Time Allotted:</label>
  <input ng-model='new.thing.standardTime' type='number' placeholder='minutes'>
  <br />
  <input type='submit' value='Submit'>
</form>
