

<!-- <div id='alertSuccess' class="hide alert alert-success col-sm-offset-3 col-sm-6" role="alert">New class created.</div> -->


<div class="modal fade" id="newClass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Class</h4>
      </div>
      <form class="modal-body" ng-submit='new.submit()'>
        <div name='newClassForm' >
          <label>Class Name:</label>
          <input ng-model='new.thing.name' type='text' placeholder='Class name'>
          <br />
          <label>Grade Level:</label>
          <input ng-model='new.thing.gradeLevel' type='text' placeholder='Grade level'>
          <!-- <br />
          <input class="btn btn-default" id='submitNew' type='submit' value='Submit'> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value='Submit'>
        </div>
      </form>
    </div>
  </div>
</div>
