<div class="modal fade" id="newStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create New Student</h4>
      </div>
      <form class="modal-body" ng-submit='new.submit("students")'>
        <div class="form-group" name='newStudentForm'>
          <label for='firstName'>First Name:</label>
          <input class="form-control" id="firstName" ng-model='new.thing.firstName' type='text' placeholder='First name'>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input class="form-control" id="lastName" ng-model='new.thing.lastName' type='text' placeholder='Last name'>
        </div>
        <div class='form-group'>
          <label for='addInfo'>Additional Information:</label>
          <input class="form-control" id='addInfo' ng-model='new.thing.additionalInfo' type='text' placeholder='additional info'>
        </div>
        <div class="modal-footer">
          <div class='form-group'>
            <button type="button" class="btn btn-default form-control" data-dismiss="modal">Close</button>
          </div>
          <div class='form-group'>
            <input type="submit" class="btn btn-primary form-control" value='Submit'>
          </div>
      </form>
      </div>
    </div>
  </div>
