

<div class="modal fade" id="newTest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Test</h4>
      </div>
      <form class="modal-body" ng-submit='new.submit()'>
        <div name='newTestForm' >
          <label>Test Name:</label>
          <input ng-model='new.thing.name' type='text' placeholder='Test name'>
          <br />
          <label>Subject:</label>
          <input ng-model='new.thing.subject' type='text' placeholder='type of test'>
          <br />
          <label>Test Date:</label>
          <input ng-model='new.thing.date' type='text' placeholder='test date'>
          <br />
          <label>Test Description:</label>
          <input ng-model='new.thing.description' type='text' placeholder='description'>
          <br />
          <label>Standard Time Allotted:</label>
          <input ng-model='new.thing.standardTime' type='number' placeholder='minutes'>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value='Submit'>
        </div>
      </form>
    </div>
  </div>
</div>
